body{
  background-color: #f1f1f1;
  font-family:"Montserrat", sans-serif;
  scroll-behavior:smooth; 
}

.article-container {
    width: 1080px;
    max-width: 100%;
    margin: 60px auto;
    padding: 20px 40px;
    background: #f1f1f1;
    /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); */
  }
  
  .nav-container {
    position: fixed;
    right: 0;
    top: 60px;
    background-color: #ffffffd3;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transform: translate(0, 0);

    transition: transform 500ms ease;

    z-index: 5;
    
  }

  .mdtitle{
    background:   center center / cover no-repeat #222;
    overflow: hidden;
    width: 100%;
    height: 40vh;
    max-height: 40vh;
    
    text-align: center;
    display: table;
  }

  .vertical{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
    z-index: 2;
    color: #fff;
  }


  .article-container img {
    width: 80vw;
    max-width: 1080px;
    display: inline-block;
  }

  .article-container h2{
    padding-top: 100px;
  }

  .article-container h3{
    padding-top: 60px;
  }

  .article-container h4{
    padding-top: 20px;
  }

  .title-anchor{
    color: #adadad!important;
  }


  .title-anchor:hover{
    color:#252525!important;
    background-color: #ffffff00!important;
  }

  .title-anchor.active{
    color:#252525!important;
    font-weight: 600!important;
    background-color: #ffffff00!important;
  }





  @media screen and (max-width: 991px) {
    .nav-container {
      display: none;
    }
    
  }
